*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{

    height: 100%;
    width: 100%;

}

#main{




}

#topbanner {

    width: 100%;
    background-color: #12202c;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;



}

#logo {

    margin-left: 3vw;
}

#logo img{

    width: 200px;
    height: 100px;
    /* border-radius: 60%; */
   
}

#navbar ul{

    list-style: none;
    display: flex;



}
#navbar ul li{

    margin-right: 5vw;
}
#navbar ul li a {

    text-decoration: none;
    /* color: #fdbd57; */
}

.hover-links{

    color: #fdbd57;
    transition: 0.2s ease-out;
}

.hover-links:hover{
    color:rgb(232, 227, 217);
}

.primebtn {

    border:2px solid #fdbd57;
    padding: 10px 20px;
    border-radius: 50%;
}

.primebtn:hover {

    background-color: #fdbd57 ;
    color: black;
    
}

.primebtn2 {

    background-color: #fdbd57 ;
    color: #12202c;
    padding: 10px 20px;
    border-radius: 50%;
}

.primebtn2:hover {

    background-color: black;
    color: #fdbd57;
    
}

#frontpage{

    width: 100%;
    height: 100vh;

    

    background-image: url(image/pexels-pixabay-276724.jpg);
    background-size: cover;

    display:flex;
    flex-direction: column;
    align-items: center;

}

#frontpage h1{

    margin-top:23vh;

    color:rgba(255, 255, 255, 0.684);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 200;
    
}

/* #frontpage p{
     
    margin: 50px 0px;
    color: white;

} */

#view {

    margin-top: 100px;
    width: 100%;
    
    /* background-color: aliceblue; */

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 200px;

}

#lfid img{
 
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

#rtid {

    width:45%;
    color: white;
}

#frontpage a {

    margin-top: 20px;

    text-decoration: none;

   

}



